body {
    background-color: darkred;
}



    p{color: rgb(255, 255, 255);
        background-color: rgb(39, 2, 109);
        font-weight: 900;
        font-family: ARial;
        font-size: 30px;}

h1{

    font-family: Georgia, 'Times New Roman', Times, serif;
    color: aqua;
    background-color: black;
    font-size: 50px;
}
 